langgraph
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-xai

huggingface_hub
transformers
sentence-transformers
torch

python-dotenv
pydantic


langchain-groq


streamlit