langgraph
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-xai

huggingface_hub
transformers
sentence-transformers
torch

python-dotenv
pydantic


langchain-groq


streamlit
langgraph-checkpoint-sqlite==3.1.0
langchain-google-genai==4.2.4
langchain-tavily==0.2.18
tavily-python==0.7.26
langchain-community==0.4.2